/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$clr-primary:          #5c307d;  // tsinghua purple
$clr-light:            #9268b6;  // light purple
$clr-lighter:          #d0c9ea;  // lighter purple
$clr-dark:             #392759;  // dark purple
$clr-contrast:#22C3AA;  // red
$clr-contrast-dark: #157A6B;  // dark red
$clr-def: #271b3d;
$clr-def-light:        #CCC;
$clr-def-lighter:      #EFEFEF;
$clr-def-lightest:     #FFF;
$clr-def-dark:         #444;
$clr-def-darker: #1e9485;
$clr-def-darkest:      #000;





// Page
$clr-page-back: $clr-def-lighter;
$clr-page-footer-back: $clr-def-darkest;





// Links
$clr-link:          $clr-contrast;
$clr-link--active:  $clr-def;
$clr-link--hover:   $clr-def;
$clr-link--visited: $clr-contrast-dark;





// Text
$clr-text: $clr-def;





// Title
$clr-h1:    $clr-primary;
$clr-h2-6:  $clr-def-dark;





// Quotes
$clr-qt:            $clr-def-dark;
$clr-qt-back:       $clr-light;
$clr-license-back:  $clr-lighter;
$clr-code-back:     $clr-lighter;




// Buttons
$clr-btn:               $clr-def-lighter;
$clr-btn-back:          $clr-link;
$clr-btn-back--hover:   $clr-link--hover;
$clr-btn-back--visited: $clr-link--visited
